:root {
  --gray0: #cbe3ff;
  --gray1: #9ecbff;
  --gray2: #789dca;
  --gray3: #406683;
  --gray4: #2d465c;
  --gray5: #0f1c31;
  --gray6: #002030;

}
body {
  font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  color: #fff;
  background-color: #000000;
  margin: auto;
  max-width: 90rem;
  padding: 5rem;
  font-size: 15px;
}
.light {
  --bg: var(--gray0);
  --theme-switcher: var(--gray2);
  --theme-switcher-ball: var(var(--gray1));
  --text: var(--gray6);
}


.dark {
  --bg: var(--gray5);
  --theme-switcher: var(--gray4);
  --text: var(--gray0);
}

/* do not change this, because i dont know what are they for */
#text1{
  position: absolute;
  left:250px; 
  top:70px;
}

#buttonHolder{
  position: absolute; 
  left:10px; 
  top:10px; 
  width:200px;
  height:650px;
  background-color:rgba(10, 10, 10, 1);
}

#btn1{
  position: absolute; 
  left:10px;
  top:200px
}

#newBtn{
  width:175px;
  height:25px;
  background-color: rgb(65, 108, 236);
  border:1px black;
}

#btn2{
  position: absolute; 
  left:10px;
  top:240px
}

#loadBtn{
  width:175px;
  height:25px;
  background-color: rgb(65, 108, 236);
  border:1px black;
}
.sbtn > a{
  color: cornsilk;
  position: relative;
}
.bButtonText{
  color: cornsilk;
  position: relative;
  top:-8px;
}

/* for now its ok because for now on i sorta know whats happening */
#logo_img > img{
    position: absolute; 
    left:500px;
    top: 100px;
}

#version{
    position: absolute; 
    left:2px; 
    top:680px;
}

#buttonHolder{
    background-color: rgba(50, 50, 50, 0.5);
}

#buttonHolder:nth-child(1){
    position: absolute; 
    left:10px;
    top:185px;
}

#newBtn{
    width:175px;
    height:25px;
    background-color: rgb(65, 108, 236);
    border:1px black;
}
#buttonHolder:nth-child(2){
    position: absolute; 
    left:10px;
    top:220px
}
#loadBtn{
    width:175px;
    height:50px;
    background-color: rgb(65, 108, 236);
    border:1px black;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color:rgba(0, 174, 255, 0.5);    /* color of the scroll thumb */
}