:root {
  --gray0: #cbe3ff;
  --gray1: #9ecbff;
  --gray2: #789dca;
  --gray3: #406683;
  --gray4: #2d465c;
  --gray5: #0f1c31;
  --gray6: #002030;

  --title: #e1eaed;
  --sub: #848484;
  --head: #b8b8b8;
  --button: #379ab9;
}
body {
  font-family: sans-serif;
  color: #fff;
  background-color: #000000;
  margin: auto;
  max-width: 90rem;
  padding: 5rem;
  font-size: 14px;
  overflow: hidden;
  user-select: none;
}

.dark {
  --bg: var(--gray5);
  --theme-switcher: var(--gray4);
  --text: var(--gray0);
}

/* do not change this, because i dont know what are they for */
#text1{
  position: absolute;
  left:250px; 
  top:70px;
}

#buttonHolder{
  position: absolute; 
  left:10px; 
  top:10px; 
  width:200px;
  height:91vh;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 25px;
}

#version-text{
  position: absolute; 
  left:4px; 
  top:92vh;
}

#title{
  position: absolute;
  left:300px;
}
#title > h1{
  color:var(--title);
  font-size: 72pt;
  text-decoration: none;
  font-weight: normal;
}

h3{
  color:var(--sub);
  font-size: 30pt;
  position: relative;
  top:-50px;
  text-decoration: none;
  font-weight: normal;
}
h4{
  color: var(--head);
  font-size: 20pt;
  position: relative;
  top:-50px;
  text-decoration: none;
  font-weight: normal;
}

a{
  color: var(--button);
  text-decoration: none;
  font-size: 16pt;
  font-weight: normal;
}
a.hover{
  color:rgb(43, 104, 133);
}

#recents{
  position: relative;
  left: 50px;
  top: 50px;
  height: 160px;
  width: 100px;
}

#start-buttons{
  position: relative;
  left: 300px;
  top: 50px;
  height: 160px;
  width: 300px;
}
#start-links > a{
  position: relative;
  top:-90px;
  left: 10px;
}
#start-box{
  position: relative;
  top: 125px;
  left: -25px;
  width:200px;
  height:160px;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 25px;
}

#bot-buttons{
  position: relative;
  left: 300px;
  top: 100px;
  height: 150px;
}
#bot-links > a{
  position: relative;
  top:-90px;
  left: 10px;
}
#bot-box{
  position: relative;
  top: 00px;
  left: -25px;
  width:200px;
  height:150px;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 25px;
}

#help-buttons{
  position: absolute;
  left: 300px;
  top: 500px;
  height: 270px;
  width: 200px;
}
#help-links > a{
  position: relative;
  top:-90px;
  left: 10px;
}
#help-box{
  position: relative;
  top: 225px;
  left: -25px;
  width:200px;
  height:270px;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 25px;
}


#quit {
  background-color: var(--header-color);
  border-color: #2196F3;
  color: dodgerblue;
  font-size: 24px;
}

#quit:hover {
  background: #2196F3;
  color: white;
}

#logo_img > img{
  position: absolute; 
  left: 500px; 
  top: 130px;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color:rgba(0, 174, 255, 0.5);    /* color of the scroll thumb */
}

.window-title {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: normal;
}