body{
    /* basic css body styling */
    padding: 0;
    margin: 0;
}
#blok{
    /* to use all the screen */
    width: 100vw;
    height: 100vh;
    
}

button{
    /* button */
    position: absolute; 
    top: 15px;
    left: 95%;  
    width:75px;
    height:25px;
    background-color: rgb(65, 108, 236);
    border:1px black;
}

button > *{
    /* to <a> and <p> tags */
    color:cornsilk; 
    position: relative; 
    top: 0px; 
    text-decoration: none;
}

#save{
    top: 50px;
}

#load{
    top: 75px;
}
#toolbox{
    /*blockly said that was what should be done */
    display: none;
    padding: 5%;
    width: 100vw;
    height: 100vh;
}