body{
    /* basic css body styling */
    padding: 0;
    margin: 0;
}
#blok{
    /* to use all the screen */
    width: 100vw;
    height: 100vh;
    
}

button{
    /* button */
    position: absolute; 
    top: 15px;
    left: 90%;  
    width:75px;
    height:25px;
    background-color: rgb(65, 108, 236);
    border:1px black;
}
/* i think this is messing the buttons up \/ /\ -senty */
button > *{
    /* to <a> and <p> tags */
    
    color:cornsilk; 
    position: relative; 
    top: 0px; 
    text-decoration: none;
}

#save{
    top: 60px;
}

#load{
    top: 105px;
}
#toolbox{
    /*blockly said that was what should be done */
    display: none;
    padding: 5%;
    width: 100vw;
    height: 100vh;
}

#dropzone{
    position: absolute;
    width: 100vh;
    height: 20vw;
    top: 80vh;
    z-index: 10;
}