body{
    /* basic css body styling */
    padding: 0;
    margin: 0;
}
textarea{
    overflow: auto;
    
}
#blok{
    /* to use (almost) all the screen */
    position: absolute;
    left: 0;
    width: 75vw;
    height: 100vh;
    
}
#holder{
    
    position:absolute;
    height: 100%;
}
#console{
    margin: 0;
    color: #fff;
    box-sizing: border-box;
    border: 2px solid #363636;
    background-color: #161616;
    position: absolute;
    bottom: 0;
    left: 75vw;
    width: 25vw;
    height: 50vh;
    overflow: auto;
}
#code{
    margin: 0;
    color: #fff;
    box-sizing: border-box;
    border: 2px solid #363636;
    background-color: #161616;
    position: absolute;
    top: 0;
    left: 75vw;
    width: 25vw;
    height: 50vh;
    overflow: auto;
}
button{
    /* button */
    position: absolute; 
    top: 15px;
    left: 65%;  
    width:75px;
    height:25px;
    background-color: rgb(65, 108, 236);
    border:1px black;
}
/* i think this is messing the buttons up \/ /\ -senty */
button > *{
    /* to <a> and <p> tags */
    
    color:cornsilk; 
    position: relative; 
    top: 0px; 
    text-decoration: none;
}

#save{
    top: 60px;
}

#load{
    top: 105px;
}
#toolbox{
    /*blockly said that was what should be done */
    display: none;
    padding: 5%;
    width: 100vw;
    height: 100vh;
}
