:root {
  --gray0: #cbe3ff;
  --gray1: #9ecbff;
  --gray2: #789dca;
  --gray3: #406683;
  --gray4: #2d465c;
  --gray5: #0f1c31;
  --gray6: #002030;

}

.light {
  --bg: var(--gray0);
  --theme-switcher: var(--gray2);
  --theme-switcher-ball: var(var(--gray1))
  --text: var(--gray6);
}


.dark {
  --bg: var(--gray5);
  --theme-switcher: var(--gray4);
  --text: var(--gray0);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 90rem;
  padding: 5rem;
  background-color: var(--bg);
}

#text1{
  position: absolute;
  left:250px; 
  top:70px;
}

#buttonHolder{
  position: absolute; 
  left:10px; 
  top:10px; 
  width:200px;
  height:650px;
  background-color:rgba(10, 10, 10, 1);
}

#btn1{
  position: absolute; 
  left:10px;
  top:200px
}

#newBtn{
  width:175px;
  height:25px;
  background-color: rgb(65, 108, 236);
  border:1px black;
}

#btn2{
  position: absolute; 
  left:10px;
  top:240px
}

#loadBtn{
  width:175px;
  height:25px;
  background-color: rgb(65, 108, 236);
  border:1px black;
}
.sbtn > a{
  color: cornsilk;
  position: relative;
}
.bButtonText{
  color: cornsilk;
  position: relative;
  top:-8px;
}

