body {
  overflow: hidden;
}

.btn {
    background-color: var(--header-color);
    border-color: #2196F3;
    color: dodgerblue;
    position: relative;
    top:-50px;
    font-size: 18px;
    width:120px;
    height:80px;
  }
  
  .btn:hover {
    background: #2196F3;
    color: white;
  }

  #startPage {
    width: 1000px; 
    height: 300px;
    margin: auto; 
    margin-top: 10vh;
    text-align: center;
  }

  #ques1 {
    width: 1000px; 
    height: 300px;
    margin: auto; 
    margin-top: 10vh;
    text-align: center;
    display: none;
  }
  
  #login {
    width: 700px; 
    height: 300px;
    margin: auto; 
    margin-top: -3vh;
    text-align: left;
    display: none;
  }

  #login>h2 {
      text-align: center;
  }

  #login>p {
      text-align: center;
  }

  #blur {
    width:1000px;
    height:450px;
    margin: auto;
    margin-top: 12vh;
    background-color: rgba(70, 70, 70, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    text-align: center;
  }

  #content {
    position:relative;
    top:-5px;
  }

  #img {
    position: absolute;
    left:0px;
    top:0px;
    width: 100vw;
    height: 100vh;
  }