:root {
    --gray0: #cbe3ff;
    --gray1: #9ecbff;
    --gray2: #789dca;
    --gray3: #406683;
    --gray4: #2d465c;
    --gray5: #0f1c31;
    --gray6: #002030;
  
  }
  
  h3{
    color:gainsboro;
    font-size: 26pt;
    position: relative;
    top:-20px;
    text-decoration: none;
  }
  h4{
    color:gainsboro;
    font-size: 26pt;
    position: relative;
    top:-50px;
    text-decoration: none;
  }
  #email{
    position: relative;
    top:-50px;
    background-color: ghostwhite;
    color:black;
    font-size: 18px;
    width:240px;
    height: 40px;
  }
  #pass{
    position: relative;
    background-color: ghostwhite;
    color:black;
    width:240px;
    height: 40px;
    font-size: 18px;
    top:-90px;
  }
  #confirm {
    background-color: var(--header-color);
    border-color: #2196F3;
    color: dodgerblue;
    position: relative;
    top:-50px;
    font-size: 18px;
    width:120px;
    height:80px;
  }
  
  #confirm:hover {
    background: #2196F3;
    color: white;
  }
  #delete {
    background-color: var(--header-color);
    border-color: #2196F3;
    color: dodgerblue;
    position: relative;
    top:-50px;
    left:25px;
    font-size: 18px;
    width:120px;
    height:80px;
  }
  
  #delete:hover {
    background: #2196F3;
    color: white;
  }
  #back {
    background-color: var(--header-color);
    border-color: #2196F3;
    color: dodgerblue;
    position: relative;
    top:-10px;
    font-size: 18px;
    width:120px;
    height:80px;
  }
  
  #back:hover {
    background: #2196F3;
    color: white;
  }
  h1{
    color:aliceblue;
    font-size: 32pt;
    text-decoration: none; 
  }