:root{
    font: 1rem sans-serif;
    --bg-var-1: #ffffff;
    --bg-var-2: #0077ff;
    --text-1: #eaeaea;
    --text-2: #ffffff;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-var-1);
}
nav{
    width: 100%;
    height: 7vh;
}

.nav{
    height: 7vh;
    padding-left: 50%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--bg-var-2);
    
}

.nav *{ 
    color: var(--text-1);
    text-decoration: none;
}

.nav > a{
    padding-top: 3%;
    align-items: center;
    justify-content: center;

}
#download{
    margin-top: 10px;
    border: 1px solid lightblue;
    padding: 1%;
} 
footer > p {
    background-color: black;
    color: var(--text-2);
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 2%;
}

#button{
    background-color:rgb(65, 108, 236);
    border:1px black;
    color:cornsilk;
}