:root{
    font: 1rem sans-serif;
    --bg-1: #ffffff;
    --bg-2: #0077ff;
    --body-back: #4145AC;
    --header-color: #2C2F83;
    --heading: #eaeaea;
    --para: #ffffff;
    --btn-hov: #e6e6e6;
    --h3: #de7054;
    --link: #47bcff;
    --link2:  #3c96c9;
}

.page{
    margin: auto;
}

.button {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }

.github {
    border-color: #a02525;
    color: var(--para);
    background-color: var(--body-back);
}
  
.github:hover {
    background-color: #a02525;
    color: var(--btn-hov);
}

.github > a{
    color: var(--para);
}
  
.github:hover > a{
    color: var(--btn-hov);
}

.wiki {
  border-color: #00c3ff;
  color: var(--para);
  background-color: transparent;
}

.wiki:hover {
  background-color: #00c3ff;
  color: var(--btn-hov);
}

.wiki > a{
  color: var(--para);
}

.wiki:hover > a{
  color: var(--btn-hov);
}

.code {
  border-color: #269c02;
  color: var(--para);
  background-color: var(--body-back);
}

.code:hover {
  background-color: #269c0f;
  color: var(--btn-hov);
}

.code > a{
  color: var(--para);
}

.code:hover > a{
  color: var(--btn-hov);
}

h4{
  font-size: 28px;
  color: var(--heading)

}



h3 {
    color: var(--h3);
    font-size: 48px;
}

.blockly {
    color: var(--link);
    font-size: 24px;
}

.blockly:hover {
    color: var(--link2);
    font-size: 24px;
}

  /* download */
  .dload {
    background-color: var(--header-color);
    border-color: #4CAF50;
    color: green;
  }
  
  .dload:hover {
    background-color: #4CAF50;
    color: white;
  }

  .forum {
    background-color: var(--header-color);
    border-color: red;
    color: red;
  }
  
  .forum:hover {
    background: red;
    color: white;
  }
  
  /* home */
  .home {
    background-color: var(--header-color);
    border-color: #2196F3;
    color: dodgerblue;
  }
  
  .home:hover {
    background: #2196F3;
    color: white;
  }
  
  /* contact */
  .about {
    background-color: var(--header-color);
    border-color: #ff9800;
    color: orange;
  }
  
  .about:hover {
    background: #ff9800;
    color: white;
  }
  /* github */
  .git {
    background-color: var(--header-color);
    border-color: #e7e7e7;
    color: white;
  }
  
  .git:hover {
    background: #e7e7e7;
    color: black
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    background-color: var(--body-back);
    padding: 10px;
    grid-template-rows: 300px 300px 80px;
    
}
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
.item5 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}
.item6 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}

.grid-container > div > div > p {
  color: var(--body-back);
  position: relative;
  top: -50px;
}

.exam {
  border-color: #00c3ff;
  color: var(--para);
  background-color: transparent;
}

.exam:hover {
  background-color: #00c3ff;
  color: var(--btn-hov);
}
.exam > a{
  color: var(--bg-2);
}

.exam:hover > a{
  color: var(--btn-hov);
}